body{
    color: #ff0000;
}
.navbar-menu{
    font-size: 1.2rem;

}
.navbar-dropdown{
    background-color: darkgrey;
    font-size: 1.2rem;
}
.navbar-item , .navbar-link{
    color: white;
    text-decoration: none;
}

/* .navbar-item:hover{
    color: #ff0000;
} */
.navbar-item:hover{
    background-color: #ff0000 !important;
}
/* added over here */
.is-actives{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
